In [3]:
import numpy as np
import pandas as pd

In [9]:
df1 = pd.read_csv('fb11.csv',sep=';')
df2 = pd.read_csv('fb22.csv',sep=';')

In [11]:
df1.head(5)#data intuition

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [15]:
df1.columns.isna()#no column is having a missing values

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [17]:
df1.dtypes #data frame object data types

Page total likes                                                         int64
Type                                                                    object
Category                                                                 int64
Post Month                                                               int64
Post Weekday                                                             int64
Post Hour                                                                int64
Paid                                                                     int64
Lifetime Post Total Reach                                                int64
Lifetime Post Total Impressions                                          int64
Lifetime Engaged Users                                                   int64
Lifetime Post Consumers                                                  int64
Lifetime Post Consumptions                                               int64
Lifetime Post Impressions by people who have liked your Page             int64
Lifetime Post reach by people who like your Page                         int64
Lifetime People who have liked your Page and engaged with your post      int64
comment                                                                  int64
like                                                                   float64
share                                                                  float64
Total Interactions                                                       int64
dtype: object

In [21]:
#1. Data Subsets a.) column wise, b.) row wise

In [25]:
col_slice = df1.iloc[0:5,4:9]

In [26]:
col_slice.head()

,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions
0,4,3,0,2752,5091
1,3,10,0,10460,19057
2,3,3,0,2413,4373
3,2,10,1,50128,87991
4,2,3,0,7244,13594

In [36]:
df1['Page total likes'].unique() , df1['Page total likes'].nunique()

(array([139441, 138414, 138458, 138895, 138353, 138329, 138185, 137893,
        137177, 137059, 137020, 136736, 136642, 136393, 136013, 135713,
        135700, 135617, 135428, 135195, 134879, 133679, 133594, 133451,
        132817, 132201, 131956, 131808, 131728, 131630, 131300, 130791,
        129600]), 33)

In [37]:
df2['Page total likes'].unique() , df2['Page total likes'].nunique()

(array([129600, 128032, 127082, 126424, 126345, 126141, 125612, 124940,
        123047, 121540, 120050, 119198, 117764, 116435, 116091, 115893,
        115368, 113028, 111620, 109670, 107907, 106928, 104070, 102112,
        100732,  98195,  96749,  93684,  93577,  93470,  93363,  93256,
         93149,  93042,  92935,  92828,  92721,  92614,  92507,  92400,
         92293,  92186,  92079,  91972,  91865,  91758,  91651,  91544,
         91437,  91330,  91223,  91116,  91009,  86909,  86491,  85979,
         85093,  81370]), 58)

In [40]:
#2.) Merging dataframes df1 and df2

In [32]:
merged_data = pd.merge(df1,df2,on='Page total likes',how='inner')

In [38]:
merged_data.head() #only five rows matched which has "Page total likes" as common

,Page total likes,Type_x,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,129600,Photo,2,7,1,12,0,3460,6503,541,...,479,444,588,3342,1946,287,1,53,14,68
1,129600,Photo,2,7,1,12,0,3460,6503,541,...,622,570,795,6651,4212,383,4,71,10,85
2,129600,Photo,2,7,1,12,0,3460,6503,541,...,877,740,1097,20270,10208,563,6,194,34,234
3,129600,Photo,2,7,1,12,0,3460,6503,541,...,756,646,1033,5867,3404,516,6,226,42,274
4,129600,Photo,2,7,1,12,0,3460,6503,541,...,2417,2327,3098,19078,10840,1839,11,238,51,300

In [ ]:
#3.)Sorting dataframe by a particular column value

In [39]:
df1.sort_values(by=['Total Interactions'])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
21,138414,Photo,1,12,7,10,0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,0
111,136736,Photo,1,10,6,8,0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
100,137020,Photo,1,10,4,9,1,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
76,137893,Photo,1,11,3,2,0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,0
120,136393,Photo,1,10,7,9,0,584,1029,273,271,308,943,511,232,0,2.0,NaN,2
129,136393,Photo,1,10,6,12,0,754,1510,206,205,252,1430,690,175,0,3.0,0.0,3
122,136393,Photo,1,10,7,8,0,619,1096,257,254,292,951,516,217,1,1.0,2.0,4
128,136393,Photo,1,10,6,13,0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
123,136393,Photo,1,10,7,7,0,617,1071,229,223,265,935,521,191,1,3.0,2.0,6
115,136642,Photo,1,10,7,12,1,813,1568,323,319,387,1402,695,280,0,4.0,2.0,6
124,136393,Photo,1,10,7,6,0,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7
117,136642,Photo,1,10,7,11,0,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7
119,136393,Photo,1,10,7,10,0,786,1573,263,257,318,1401,660,222,0,6.0,2.0,8
118,136642,Photo,1,10,7,10,0,834,1570,399,392,510,1390,704,351,0,7.0,2.0,9
125,136393,Photo,1,10,7,5,0,677,1240,236,228,264,1098,580,196,0,7.0,2.0,9
127,136393,Photo,1,10,6,13,0,747,1443,226,220,287,1252,632,194,0,9.0,1.0,10
132,136393,Photo,1,10,6,9,0,659,1158,199,194,239,1041,576,169,1,7.0,2.0,10
130,136393,Photo,1,10,6,11,0,910,1673,207,201,247,1503,782,176,0,8.0,2.0,10
131,136393,Photo,1,10,6,9,0,3906,8239,868,863,2632,7736,3768,774,0,7.0,3.0,10
133,136393,Photo,1,10,6,8,0,652,1331,214,206,249,1249,588,182,0,11.0,1.0,12
49,138353,Link,1,12,2,2,0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14
213,132201,Photo,3,8,4,11,1,1006,1594,277,268,354,1055,651,187,1,11.0,3.0,15
235,131300,Status,2,7,7,10,0,10956,19279,128,119,130,18838,10564,123,3,13.0,1.0,17
103,137020,Photo,1,10,3,4,0,1388,2544,224,219,931,2161,1214,172,0,13.0,4.0,17
114,136642,Photo,1,10,7,13,0,1592,2749,370,356,414,2551,1454,327,0,15.0,2.0,17
22,138414,Link,1,12,7,10,0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
164,135428,Photo,1,9,5,10,0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18
232,131630,Status,2,7,2,6,1,10824,20573,135,126,153,20030,10384,126,6,14.0,1.0,21
216,131956,Photo,2,8,3,4,0,1330,2327,363,351,433,1475,827,230,2,17.0,9.0,28
47,138353,Link,1,12,3,2,0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,137059,Photo,1,11,2,3,0,24720,37240,845,564,850,14475,8120,504,13,331.0,77.0,421
99,137020,Photo,1,10,4,10,0,12776,21893,785,539,881,13272,7800,575,12,328.0,90.0,430
81,137177,Photo,3,11,6,10,0,5990,11123,657,361,512,5057,2628,428,18,370.0,53.0,441
143,136013,Photo,3,10,2,10,1,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
152,135713,Photo,2,10,5,4,1,6564,12097,806,602,957,7682,4024,563,47,358.0,49.0,454
228,131728,Photo,2,7,4,3,0,14824,21863,868,591,966,13498,8560,650,64,367.0,25.0,456
116,136642,Photo,1,10,7,12,0,32208,57472,1810,1490,2286,56149,31648,1724,1,431.0,26.0,458
214,132201,Photo,3,8,4,3,1,12728,21685,844,461,683,15779,8844,657,4,435.0,31.0,470
183,134879,Video,1,9,2,10,0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
194,133594,Photo,1,8,7,3,0,34512,76659,1666,1333,1977,54860,22816,1278,6,442.0,42.0,490
26,138458,Status,2,12,5,11,0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
75,137893,Photo,1,11,3,2,1,37376,68610,1150,808,1341,22100,10880,724,20,411.0,74.0,505
71,137893,Video,1,11,5,3,1,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
167,135428,Photo,3,9,4,2,1,10748,19724,892,498,719,13674,7624,704,8,485.0,64.0,557
242,130791,Status,2,7,4,6,0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572
14,138414,Photo,2,12,4,5,1,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
28,138895,Photo,2,12,5,3,0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
240,130791,Photo,3,7,5,3,0,19968,35161,1016,592,909,26701,14792,757,6,535.0,83.0,624
17,138414,Photo,1,12,2,12,1,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
67,138185,Photo,1,11,7,3,1,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
191,133679,Photo,3,8,1,10,0,19648,33643,1359,695,990,24034,13528,1020,9,766.0,43.0,818
206,132201,Photo,1,8,1,3,0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
142,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
105,137020,Photo,1,10,2,4,0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
176,135195,Photo,3,9,6,3,1,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
199,132817,Photo,3,8,4,10,0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
101,137020,Photo,2,10,4,3,0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
168,135428,Photo,1,9,3,10,0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
244,130791,Photo,2,7,3,5,1,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334

In [41]:
#4.) Transposing the dataframe

In [42]:
transposed_df = df1.T
transposed_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,239,240,241,242,243,244,245,246,247,248
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,130791,130791,130791,130791,130791,130791,130791,130791,129600,129600
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Status,Video,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,2,3,1,2,1,2,1,2,2,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,7,7,7,7,7,7,7,7,7,7
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,5,5,4,4,3,3,2,2,1,1
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,6,11,5,13,8,12,6
Paid,0,0,0,1,0,0,1,1,0,0,...,1,0,0,0,1,1,0,0,0,0
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4096,19968,4892,17360,21872,180480,44464,2881,3460,3406
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7200,35161,8499,33613,40413,319133,66824,5188,6503,5656
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,487,1016,536,2573,3872,8072,1052,550,541,571

In [43]:
#5.) Melting the dataframe

In [51]:
melted_df = pd.melt(df1,id_vars=['Page total likes'],var_name='Category', value_name='value')
melted_df.head(10)

   Page total likes Category   value
0            139441     Type   Photo
1            139441     Type  Status
2            139441     Type   Photo
3            139441     Type   Photo
4            139441     Type   Photo
5            139441     Type  Status
6            139441     Type   Photo
7            139441     Type   Photo
8            139441     Type  Status
9            139441     Type   Photo

In [60]:
#6.) Long to wide format

In [61]:
df1.pivot(columns='Paid')

     Page total likes              Type         Category      Post Month  \
Paid                0         1       0       1        0    1          0
0            139441.0       NaN   Photo     NaN      2.0  NaN       12.0
1            139441.0       NaN  Status     NaN      2.0  NaN       12.0
2            139441.0       NaN   Photo     NaN      3.0  NaN       12.0
3                 NaN  139441.0     NaN   Photo      NaN  2.0        NaN
4            139441.0       NaN   Photo     NaN      2.0  NaN       12.0
5            139441.0       NaN  Status     NaN      2.0  NaN       12.0
6                 NaN  139441.0     NaN   Photo      NaN  3.0        NaN
7                 NaN  139441.0     NaN   Photo      NaN  3.0        NaN
8            139441.0       NaN  Status     NaN      2.0  NaN       12.0
9            139441.0       NaN   Photo     NaN      3.0  NaN       12.0
10           139441.0       NaN  Status     NaN      2.0  NaN       12.0
11           139441.0       NaN   Photo     NaN      2.0  NaN       12.0
12           139441.0       NaN   Photo     NaN      2.0  NaN       12.0
13           139441.0       NaN   Photo     NaN      2.0  NaN       12.0
14                NaN  138414.0     NaN   Photo      NaN  2.0        NaN
15           138414.0       NaN  Status     NaN      2.0  NaN       12.0
16           138414.0       NaN   Photo     NaN      3.0  NaN       12.0
17                NaN  138414.0     NaN   Photo      NaN  1.0        NaN
18           138414.0       NaN  Status     NaN      3.0  NaN       12.0
19           138414.0       NaN   Photo     NaN      3.0  NaN       12.0
20           138414.0       NaN   Photo     NaN      2.0  NaN       12.0
21           138414.0       NaN   Photo     NaN      1.0  NaN       12.0
22           138414.0       NaN    Link     NaN      1.0  NaN       12.0
23           138414.0       NaN   Photo     NaN      3.0  NaN       12.0
24           138414.0       NaN  Status     NaN      2.0  NaN       12.0
25           138458.0       NaN  Status     NaN      2.0  NaN       12.0
26           138458.0       NaN  Status     NaN      2.0  NaN       12.0
27           138458.0       NaN   Photo     NaN      3.0  NaN       12.0
28           138895.0       NaN   Photo     NaN      2.0  NaN       12.0
29                NaN  138895.0     NaN   Video      NaN  1.0        NaN
..                ...       ...     ...     ...      ...  ...        ...
219          131956.0       NaN   Photo     NaN      3.0  NaN        8.0
220          131956.0       NaN   Photo     NaN      2.0  NaN        8.0
221          131956.0       NaN   Photo     NaN      3.0  NaN        8.0
222          131808.0       NaN  Status     NaN      2.0  NaN        8.0
223               NaN  131808.0     NaN  Status      NaN  2.0        NaN
224          131808.0       NaN   Photo     NaN      1.0  NaN        8.0
225          131808.0       NaN  Status     NaN      2.0  NaN        7.0
226               NaN  131728.0     NaN   Photo      NaN  3.0        NaN
227               NaN  131728.0     NaN   Photo      NaN  1.0        NaN
228          131728.0       NaN   Photo     NaN      2.0  NaN        7.0
229          131630.0       NaN   Photo     NaN      2.0  NaN        7.0
230          131630.0       NaN   Photo     NaN      3.0  NaN        7.0
231          131630.0       NaN   Photo     NaN      3.0  NaN        7.0
232               NaN  131630.0     NaN  Status      NaN  2.0        NaN
233          131630.0       NaN   Photo     NaN      1.0  NaN        7.0
234          131630.0       NaN   Photo     NaN      2.0  NaN        7.0
235          131300.0       NaN  Status     NaN      2.0  NaN        7.0
236          131300.0       NaN   Photo     NaN      3.0  NaN        7.0
237          131300.0       NaN   Photo     NaN      2.0  NaN        7.0
238          131300.0       NaN   Photo     NaN      1.0  NaN        7.0
239               NaN  130791.0     NaN   Photo      NaN  2.0        NaN
240          130791.0       NaN   Photo     NaN      3.0  NaN        7.0
241          130791.0       NaN   Photo     NaN      1.0  NaN        7.0
242          130791.0       NaN  Status     NaN      2.0  NaN        7.0
243               NaN  130791.0     NaN   Video      NaN  1.0        NaN
244               NaN  130791.0     NaN   Photo      NaN  2.0        NaN
245          130791.0       NaN   Photo     NaN      1.0  NaN        7.0
246          130791.0       NaN   Photo     NaN      2.0  NaN        7.0
247          129600.0       NaN   Photo     NaN      2.0  NaN        7.0
248          129600.0       NaN   Photo     NaN      3.0  NaN        7.0

           Post Weekday       ...  \
Paid     1            0    1  ...
0      NaN          4.0  NaN  ...
1      NaN          3.0  NaN  ...
2      NaN          3.0  NaN  ...
3     12.0          NaN  2.0  ...
4      NaN          2.0  NaN  ...
5      NaN          1.0  NaN  ...
6     12.0          NaN  1.0  ...
7     12.0          NaN  7.0  ...
8      NaN          7.0  NaN  ...
9      NaN          6.0  NaN  ...
10     NaN          5.0  NaN  ...
11     NaN          5.0  NaN  ...
12     NaN          5.0  NaN  ...
13     NaN          5.0  NaN  ...
14    12.0          NaN  4.0  ...
15     NaN          3.0  NaN  ...
16     NaN          3.0  NaN  ...
17    12.0          NaN  2.0  ...
18     NaN          2.0  NaN  ...
19     NaN          1.0  NaN  ...
20     NaN          1.0  NaN  ...
21     NaN          7.0  NaN  ...
22     NaN          7.0  NaN  ...
23     NaN          7.0  NaN  ...
24     NaN          6.0  NaN  ...
25     NaN          6.0  NaN  ...
26     NaN          5.0  NaN  ...
27     NaN          5.0  NaN  ...
28     NaN          5.0  NaN  ...
29    12.0          NaN  4.0  ...
..     ...          ...  ...  ...
219    NaN          1.0  NaN  ...
220    NaN          1.0  NaN  ...
221    NaN          7.0  NaN  ...
222    NaN          7.0  NaN  ...
223    8.0          NaN  6.0  ...
224    NaN          6.0  NaN  ...
225    NaN          5.0  NaN  ...
226    7.0          NaN  5.0  ...
227    7.0          NaN  4.0  ...
228    NaN          4.0  NaN  ...
229    NaN          3.0  NaN  ...
230    NaN          2.0  NaN  ...
231    NaN          2.0  NaN  ...
232    7.0          NaN  2.0  ...
233    NaN          1.0  NaN  ...
234    NaN          1.0  NaN  ...
235    NaN          7.0  NaN  ...
236    NaN          7.0  NaN  ...
237    NaN          6.0  NaN  ...
238    NaN          6.0  NaN  ...
239    7.0          NaN  5.0  ...
240    NaN          5.0  NaN  ...
241    NaN          4.0  NaN  ...
242    NaN          4.0  NaN  ...
243    7.0          NaN  3.0  ...
244    7.0          NaN  3.0  ...
245    NaN          2.0  NaN  ...
246    NaN          2.0  NaN  ...
247    NaN          1.0  NaN  ...
248    NaN          1.0  NaN  ...

     Lifetime People who have liked your Page and engaged with your post  \
Paid                                                                   0
0                                                 119.0
1                                                1108.0
2                                                 132.0
3                                                   NaN
4                                                 396.0
5                                                1016.0
6                                                   NaN
7                                                   NaN
8                                                1250.0
9                                                 199.0
10                                               3798.0
11                                                165.0
12                                                152.0
13                                                183.0
14                                                  NaN
15                                               1162.0
16                                                123.0
17                                                  NaN
18                                                101.0
19                                                100.0
20                                                157.0
21                                                 15.0
22                                                106.0
23                                                143.0
24                                                995.0
25                                               1200.0
26                                               1779.0
27                                                166.0
28                                                621.0
29                                                  NaN
..                                                  ...
219                                               584.0
220                                               279.0
221                                               401.0
222                                               956.0
223                                                 NaN
224                                               421.0
225                                              2602.0
226                                                 NaN
227                                                 NaN
228                                               650.0
229                                               348.0
230                                               327.0
231                                               266.0
232                                                 NaN
233                                               222.0
234                                               279.0
235                                               123.0
236                                               722.0
237                                               309.0
238                                               344.0
239                                                 NaN
240                                               757.0
241                                               428.0
242                                              1905.0
243                                                 NaN
244                                                 NaN
245                                               559.0
246                                               323.0
247                                               314.0
248                                               355.0

             comment          like         share        Total Interactions  \
Paid       1       0      1      0       1     0      1                  0
0        NaN     4.0    NaN   79.0     NaN  17.0    NaN              100.0
1        NaN     5.0    NaN  130.0     NaN  29.0    NaN              164.0
2        NaN     0.0    NaN   66.0     NaN  14.0    NaN               80.0
3     1386.0     NaN   58.0    NaN  1572.0   NaN  147.0                NaN
4        NaN    19.0    NaN  325.0     NaN  49.0    NaN              393.0
5        NaN     1.0    NaN  152.0     NaN  33.0    NaN              186.0
6      379.0     NaN    3.0    NaN   249.0   NaN   27.0                NaN
7      422.0     NaN    0.0    NaN   325.0   NaN   14.0                NaN
8        NaN     0.0    NaN  161.0     NaN  31.0    NaN              192.0
9        NaN     3.0    NaN  113.0     NaN  26.0    NaN              142.0
10       NaN     0.0    NaN  233.0     NaN  19.0    NaN              252.0
11       NaN     0.0    NaN   88.0     NaN  18.0    NaN              106.0
12       NaN     0.0    NaN   90.0     NaN  14.0    NaN              104.0
13       NaN     5.0    NaN  137.0     NaN  10.0    NaN              152.0
14     684.0     NaN    2.0    NaN   577.0   NaN   20.0                NaN
15       NaN     4.0    NaN   86.0     NaN  18.0    NaN              108.0
16       NaN     2.0    NaN   40.0     NaN  12.0    NaN               54.0
17    1307.0     NaN   15.0    NaN   678.0   NaN   20.0                NaN
18       NaN     4.0    NaN   54.0     NaN  17.0    NaN               75.0
19       NaN     0.0    NaN   34.0     NaN   8.0    NaN               42.0
20       NaN     3.0    NaN   66.0     NaN  12.0    NaN               81.0
21       NaN     0.0    NaN    0.0     NaN   0.0    NaN                0.0
22       NaN     0.0    NaN   16.0     NaN   2.0    NaN               18.0
23       NaN     0.0    NaN   72.0     NaN  24.0    NaN               96.0
24       NaN     3.0    NaN   99.0     NaN  19.0    NaN              121.0
25       NaN     0.0    NaN   88.0     NaN  18.0    NaN              106.0
26       NaN    10.0    NaN  412.0     NaN  72.0    NaN              494.0
27       NaN     0.0    NaN  100.0     NaN  17.0    NaN              117.0
28       NaN    36.0    NaN  523.0     NaN  63.0    NaN              622.0
29     559.0     NaN   18.0    NaN   143.0   NaN   13.0                NaN
..       ...     ...    ...    ...     ...   ...    ...                ...
219      NaN    16.0    NaN  227.0     NaN  28.0    NaN              271.0
220      NaN     2.0    NaN   86.0     NaN   8.0    NaN               96.0
221      NaN     6.0    NaN  179.0     NaN  27.0    NaN              212.0
222      NaN     1.0    NaN   74.0     NaN  11.0    NaN               86.0
223   2806.0     NaN   18.0    NaN   332.0   NaN   54.0                NaN
224      NaN     2.0    NaN   80.0     NaN  21.0    NaN              103.0
225      NaN     9.0    NaN   95.0     NaN  17.0    NaN              121.0
226    360.0     NaN    3.0    NaN   188.0   NaN   26.0                NaN
227    417.0     NaN    6.0    NaN   109.0   NaN   11.0                NaN
228      NaN    64.0    NaN  367.0     NaN  25.0    NaN              456.0
229      NaN     9.0    NaN  102.0     NaN  19.0    NaN              130.0
230      NaN     2.0    NaN  113.0     NaN  20.0    NaN              135.0
231      NaN     0.0    NaN   94.0     NaN  20.0    NaN              114.0
232    126.0     NaN    6.0    NaN    14.0   NaN    1.0                NaN
233      NaN     1.0    NaN   43.0     NaN  10.0    NaN               54.0
234      NaN     1.0    NaN   98.0     NaN  21.0    NaN              120.0
235      NaN     3.0    NaN   13.0     NaN   1.0    NaN               17.0
236      NaN    12.0    NaN  237.0     NaN  45.0    NaN              294.0
237      NaN     4.0    NaN  112.0     NaN  23.0    NaN              139.0
238      NaN     2.0    NaN  101.0     NaN  25.0    NaN              128.0
239    355.0     NaN   10.0    NaN   145.0   NaN   31.0                NaN
240      NaN     6.0    NaN  535.0     NaN  83.0    NaN              624.0
241      NaN     4.0    NaN  118.0     NaN  22.0    NaN              144.0
242      NaN     9.0    NaN  484.0     NaN  79.0    NaN              572.0
243   2218.0     NaN   18.0    NaN   315.0   NaN   76.0                NaN
244   3316.0     NaN  372.0    NaN  5172.0   NaN  790.0                NaN
245      NaN     4.0    NaN  154.0     NaN  30.0    NaN              188.0
246      NaN     0.0    NaN   73.0     NaN  15.0    NaN               88.0
247      NaN     0.0    NaN   96.0     NaN  19.0    NaN              115.0
248      NaN     1.0    NaN   98.0     NaN  19.0    NaN              118.0


Paid       1
0        NaN
1        NaN
2        NaN
3     1777.0
4        NaN
5        NaN
6      279.0
7      339.0
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14     599.0
15       NaN
16       NaN
17     713.0
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29     174.0
..       ...
219      NaN
220      NaN
221      NaN
222      NaN
223    404.0
224      NaN
225      NaN
226    217.0
227    126.0
228      NaN
229      NaN
230      NaN
231      NaN
232     21.0
233      NaN
234      NaN
235      NaN
236      NaN
237      NaN
238      NaN
239    186.0
240      NaN
241      NaN
242      NaN
243    409.0
244   6334.0
245      NaN
246      NaN
247      NaN
248      NaN

[249 rows x 36 columns]